html, body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}

.top-logo {
  display: flex;
  z-index: 100;
  position: static;
  left: 4px;
  width: 100px;
  height: 75px;
  align-items: center;
  border-radius: 100%;
}
