html, body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "SourceSansPro","Helvetica Neue","Arial",sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}

.top-logo {
  display: flex;
  z-index: 100;
  position: static;
  left: 4px;
  width: 100px;
  height: 75px;
  align-items: center;
  border-radius: 100%;
}

main {
  display: flex;
  background: #000000;
  padding: 5rem;

}

section,
aside {
  background: white;
  margin: 0px;
  padding: 0px;
}

section {
  flex: 2;
  text-align: center;
}
.img-qui {
  width: 100%;
}

h2 {
  padding-top: 30px;
}

h2::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11.5px;
  width: 200px;
  height: 3px;
  background-color: #000;
}

h3 {
  padding-top: 10px;
}

ul {
  list-style-type: none;
}

.content::before {
  content: "• ";
  color: #ea6c11;
  padding-right: 0.25em;
}

.paddingt-5 {
  padding-top: 5px;
}